# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [11]:
import pandas as pd
import numpy as np

# Seu código aqui
anomalias = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
pd.Series(anomalias)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [12]:

# seu código aqui
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
pd.Series(anomalias, index = anos)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [13]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
pd.Series(dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [10]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
pd.DataFrame(arr)

             0           1           2
0    99.711324   83.718117  110.783347
1    88.039001  118.546426   96.609864
2    96.098420   94.991086  104.141308
3    83.438948  101.083803   87.467694
4   100.317682   87.254541   95.905680
5    94.266978  110.273486  108.797560
6   102.777020   94.517198  129.633606
7    93.331165  106.433259   93.689412
8   120.558118   99.364217  101.906302
9    98.505015   96.680234  105.419428
10   96.437459   95.078018  114.493082
11  100.406738   92.221479  111.844190
12  112.295953  111.660097  118.220347
13   96.651109  108.171090   99.073463
14  105.295528   92.594850  109.292231
15  105.489499  105.778055  106.951663
16  104.550899   85.680003  105.814002
17  104.911956   87.000371  104.028517
18  112.702273   92.605654   80.841443
19  107.226529  115.265362  101.444381

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [41]:
#seu código aqui
vetor = np.arange(1, 21)
aleatorio = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'], index = vetor)
aleatorio

            x1          x2          x3
1    99.711324   83.718117  110.783347
2    88.039001  118.546426   96.609864
3    96.098420   94.991086  104.141308
4    83.438948  101.083803   87.467694
5   100.317682   87.254541   95.905680
6    94.266978  110.273486  108.797560
7   102.777020   94.517198  129.633606
8    93.331165  106.433259   93.689412
9   120.558118   99.364217  101.906302
10   98.505015   96.680234  105.419428
11   96.437459   95.078018  114.493082
12  100.406738   92.221479  111.844190
13  112.295953  111.660097  118.220347
14   96.651109  108.171090   99.073463
15  105.295528   92.594850  109.292231
16  105.489499  105.778055  106.951663
17  104.550899   85.680003  105.814002
18  104.911956   87.000371  104.028517
19  112.702273   92.605654   80.841443
20  107.226529  115.265362  101.444381

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [42]:
# seu código aqui
aleatorio['media'] = (aleatorio['x1'] + aleatorio['x2'] + aleatorio['x3'])/3
aleatorio

            x1          x2          x3       media
1    99.711324   83.718117  110.783347   98.070929
2    88.039001  118.546426   96.609864  101.065097
3    96.098420   94.991086  104.141308   98.410271
4    83.438948  101.083803   87.467694   90.663482
5   100.317682   87.254541   95.905680   94.492634
6    94.266978  110.273486  108.797560  104.446008
7   102.777020   94.517198  129.633606  108.975941
8    93.331165  106.433259   93.689412   97.817945
9   120.558118   99.364217  101.906302  107.276212
10   98.505015   96.680234  105.419428  100.201559
11   96.437459   95.078018  114.493082  102.002853
12  100.406738   92.221479  111.844190  101.490802
13  112.295953  111.660097  118.220347  114.058799
14   96.651109  108.171090   99.073463  101.298554
15  105.295528   92.594850  109.292231  102.394203
16  105.489499  105.778055  106.951663  106.073073
17  104.550899   85.680003  105.814002   98.681634
18  104.911956   87.000371  104.028517   98.646948
19  112.702273   92.605654   80.841443   95.383123
20  107.226529  115.265362  101.444381  107.978757

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [43]:
# seu código aqui
aleatorio['log_med'] = np.log(aleatorio['media'])
aleatorio

            x1          x2          x3       media   log_med
1    99.711324   83.718117  110.783347   98.070929  4.585691
2    88.039001  118.546426   96.609864  101.065097  4.615765
3    96.098420   94.991086  104.141308   98.410271  4.589145
4    83.438948  101.083803   87.467694   90.663482  4.507155
5   100.317682   87.254541   95.905680   94.492634  4.548522
6    94.266978  110.273486  108.797560  104.446008  4.648670
7   102.777020   94.517198  129.633606  108.975941  4.691127
8    93.331165  106.433259   93.689412   97.817945  4.583108
9   120.558118   99.364217  101.906302  107.276212  4.675407
10   98.505015   96.680234  105.419428  100.201559  4.607184
11   96.437459   95.078018  114.493082  102.002853  4.625001
12  100.406738   92.221479  111.844190  101.490802  4.619968
13  112.295953  111.660097  118.220347  114.058799  4.736714
14   96.651109  108.171090   99.073463  101.298554  4.618072
15  105.295528   92.594850  109.292231  102.394203  4.628830
16  105.489499  105.778055  106.951663  106.073073  4.664128
17  104.550899   85.680003  105.814002   98.681634  4.591899
18  104.911956   87.000371  104.028517   98.646948  4.591547
19  112.702273   92.605654   80.841443   95.383123  4.557902
20  107.226529  115.265362  101.444381  107.978757  4.681935